
#sideview figure {
    border: 1px solid #333333;
    padding: 5px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sideview figure> *.preview {
    width: 100%;
}

#sideview figure>figcaption {
    margin-top: 6px;
    width: fit-content;
    margin-inline: auto;
    font-style: italic;
    text-align: center;
    display: flex;
}

#sideview {
    padding-inline-start: 10px;
    position: sticky;
    top: 0px;
    min-width: 320px;
    width: 320px;
    max-width: 320px;
    padding-top: 10px;
    height: 100%;
    font-size: 0.8em;
    overflow-y: auto;
    scrollbar-width: none;
}

#sideview-title {
    text-align: center;
    display: none;
}

#nutrition-facts {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-block: 20px;
    text-align:left;
}

#nutrition-facts::after {
    display: block;
    color: gray;
    text-align: center;
    font-style: italic;
    width: 320px;
    margin-block: 15px;
}

#nutrition-facts:lang("en")::after {
    content: "* This table is a mostly accurate estimate of the dish's nutritional values. The actual values may fluctuate a little bit if the dish is made a bit differently, or from slightly differing products.";
    user-select: text;
}

#nutrition-facts:dir(rtl) {
    text-align:right;
}

#nutrition-facts thead {
    background-color: #333333;
    color: white;
    font-weight: 800;
    text-align: center;
}

:lang("en") #nutrition-facts tr *:first-child {
    width: 100px; /* Fixes some fields getting cut off*/
}

#nutrition-facts td, #nutrition-facts th {
    border: 1px solid #222222;
    padding: 5px;
}

#nutrition-facts t {
    text-align: center;
}

#nutrition-facts #fiber>th::before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}
#nutrition-facts #starch>th::before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}
#nutrition-facts #sugar>th::before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}


#recipe-stats {
    list-style-type: none;
    font-weight: bold;
}
