body {
    display: flex;
    flex-direction: column;
}

blockquote {
    padding-inline: 20px;
    padding-inline-end: 10px;
    opacity: 0.5;
    margin-block: 50px;
    padding-block: 6px;
    border-inline-start: 4px solid white;
}

blockquote:hover {
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    padding-inline: 60px;
    gap: 20px;
    align-items: center;
    margin-bottom: 100px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .grid-container {
        flex-direction: column-reverse;
    }
}

header .logo::after {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333333;   
    border: 2px solid lightgray; 
    border-radius: 4px;
    font-weight: bold;
    padding: 4px;
    color: lightgray;
    font-size: 0.6rem;
    margin-inline-start: 20px;
}

:lang("en") header .logo::after {
    content: "Early Access";
}

:lang("he") header .logo::after {
    content: "גישה מוקדמת";
}