.dropdown {
    display: none;
    background: #222222;
    font-size: 0.9em;
    z-index: 100;
    width: 200px;
}

.dropdown a {
    color: white;
    display: flex;
    font-weight: 600;
    width: 100%;
    height: 60px;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: normal;
    text-align: center;
}

.dropdown a:hover, .dropdown a.hover {
    background-color: #333333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222;
    width: 100%;
}
.dropdown-content a {
    height: 40px;
}

.dropdown:hover .dropdown-content, .dropdown>a.hover + .dropdown-content {
    display: block;
}

@media screen and (max-width: 1000px) {
    .dropdown {
        width: 120px;
    }
    .dropdown-content a {
        padding-block: 2px;
    }
}

@media screen and (max-width: 700px) {
    .dropdown {
        width: 80px;
    }
    
    .dropdown:hover, .dropdown>a.hover {
        width: 120px;
    }
}

@media screen and (max-width: 500px) {
    .dropdown {
        width: 70px;
    }
    .dropdown:hover, .dropdown>a.hover {
        width: 90px;
    }
}

@media screen and (max-width: 370px) {
    .dropdown {
        width: 62px;
    }
    .dropdown:hover, .dropdown>a.hover {
        width: 62px;
    }
}