#leaderboards {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

#leaderboards td {
    text-indent: calc(0);
}

.container h1 {
    font-size: 2em;
    margin-top: -1em;
}

#leaderboards tr th {
    text-align: start;
    padding-block: 5px;
    text-indent: 2.15em;
}

#leaderboards tr:nth-child(1) th {
    text-align: center;
    text-indent: unset;
}

#leaderboards tr:nth-child(1) th:first-child {
    text-align: start;
}

#leaderboards tr:nth-child(2) th,
#leaderboards tr:nth-child(3) th,
#leaderboards tr:nth-child(4) th {
    text-indent: unset;
}

#leaderboards>tbody tr:nth-child(1) th::before {
    content: "🥇\00a0\00a0\00a0";
}

#leaderboards>tbody tr:nth-child(2) th::before {
    content: "🥈\00a0\00a0\00a0";
}

#leaderboards>tbody tr:nth-child(3) th::before {
    content: "🥉\00a0\00a0\00a0";
}

#leaderboards tr:nth-child(2) td:last-child,
#leaderboards tr:nth-child(3) td:last-child,
#leaderboards tr:nth-child(4) td:last-child {
    font-weight: 600;
}

.rainbow-text {
    background: linear-gradient(235deg, red, orange, yellow, green, deepskyblue, orchid, violet, red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 2000% 100%;
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}